{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Shopping Cart</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive">
                <table id="all-items" class="table table-sm table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-sm-inline"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Qty</th>
                            <th scope="col" class="text-right">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 d-none d-sm-inline">
                            {% if item.product.image %}
                            <img class="img-fluid width35" src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}">
                            {% else %}
                            <img class="img-fluid width35" src="/media/noimage.png"
                                alt="{{ item.product.name }}">
                            {% endif %}
                        </td>
                        <td class="py-0 py-sm-3">
                            <p class="my-0">{{ item.product.name }}</p>
                            <p class="my-3">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-0 py-sm-3 w-sm-25">
                            <form class="form d-flex flex-column align-items-center"
                                action="{% url 'adjust_cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <input class="form-control sm-input m-2" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="0" max="99" data-item_id="{{ item.product.id }}"
                                    id="id_qty_{{ item.product.id }}" aria-label="adjustable quantity">
                                <input type="submit" class="btn btn-outline-success btn-sm" value="Update">
                            </form>
                        </td>
                        <td class="py-0 py-sm-3 text-right">
                            <p class="my-0">€{{ item.sub_total }}</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-danger btn-sm my-4" data-toggle="modal"
                                data-target="#deleteModal"
                                data-delete-href="{% url 'remove_from_cart' item.product.id %}">
                                Remove
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-secondary my-2">Keep Shopping!</a>
                            <a href="{% url 'checkout' %}" class="btn btn-success">Secure Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="text35">Your Cart is empty!</p>
            <a class="btn btn-secondary" href="{% url 'products' %}">Back to Products Page</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove Item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to permanently remove the full quantity of this item from your Cart?
                If you wish to change the quantity of this item, select cancel, adjust the quantity and select update.
                Confirm remove this item in full?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="remove" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- js file Script -->
<script src="{% static 'js/deleteCartItem.js' %}"></script>

{% endblock %}