{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Shopping Cart</h3>
        </div>
    </div>
    <div class="row">
        <div id="all-items" class="col">
            {% if cart_items %}
            <div class="row">
                <div class="col text-center text-md-left">
                    <h5 class="mx-md-5">Product</h5>
                </div>
                <div class="col text-right">
                    <h5>Subtotal</h5>
                </div>
            </div>
            {% for item in cart_items %}
            <div class="row">
                <div class="col col-md-9">
                    <div class="row">
                        <div class="col-12 col-md-4 d-flex justify-content-center">
                            {% if item.product.image %}
                            <img class="width100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                            <img class="width100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <p class="m-0 my-md-3">{{ item.product.name }}</p>
                            <p class="m-0 my-md-3">€{{ item.product.price }}</p>
                        </div>
                        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                            <form id="cart-quantity-form" class="d-flex flex-column align-items-center flex-lg-row" action="{% url 'adjust_cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <label class="text-center m-1" for="id_qty_{{ item.product.id }}">Qty:</label>
                                <input id="cart-quantity" class="m-1" type="number" name="quantity" value="{{ item.quantity }}" min="0" max="99"
                                    data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                <input id="cart-quantity-submit" type="submit" class="btn btn-outline-success m-1" value="Update Qty">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 d-flex flex-column justify-content-end">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger btn-sm mx-auto my-2" data-toggle="modal"
                        data-target="#deleteModal" data-delete-href="{% url 'remove_from_cart' item.product.id %}">
                        Remove form Cart!
                    </button>
                    <p class="m-1 text-right">€{{ item.sub_total }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <div class="col text-right">
                    <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                        more!
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'products' %}" class="btn btn-secondary m-2">Keep Shopping!</a>
                    <a href="{% url 'checkout' %}" class="btn btn-success m-2">Secure Checkout</a>
                </div>
            </div>
        </div>
        {% else %}
        <p class="text35">Your Cart is empty!</p>
        <a class="btn btn-secondary" href="{% url 'products' %}">Back to Products Page</a>
        {% endif %}
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove Item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to permanently remove the full quantity of this item from your Cart?
                If you wish to change the quantity of this item, select cancel, adjust the quantity and select update.
                Confirm remove this item in full?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="remove" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- js file Script -->
<script src="{% static 'cart/js/deleteCartItem.js' %}"></script>

{% endblock %}