{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Home
{% endblock %}

{% block content %}
<div class="banner">
    <p class="text-center">Time is precious so don't waste it shopping for bleach!</p>
    <p class="text-center">Let us take care of the Boring Stuff while You do You!!</p>
</div>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 text-center bg-info">
                <h3>About Us</h3>
                <p>Big Boring Shop is an <strong>online grocery store</strong> with a simple belief.
                    Shopping can be fun..... but the weekly grocery shop simply isn't!
                    So don't waste time going to the supermarket week after week after
                    week.... <strong>Just order online</strong> and we will deliver to your door.
                    To save even more time you can create an account, make a <strong>favourites list</strong> and
                    then quickly add these to you cart. Easy!
                </p>
                <p>So it must be expensive then, right?</p>
                <p>NO!! Our clear aim is compete with similar low cost retailers. As a fully online store
                    we do not carry the high cost of high street retail. Furthermore we keep our warehouses
                    stocked with a well refined inventory of the most popular items. In this way we keep our
                    system and offering simple and efficient, passing the savings on to you!
                </p>


            </div>
            <div class="col-12 col-md-6 text-center bg-light">
                <h3>Delivery</h3>
                <p>First things first! The cost?</p>
                <p><strong>Free delivery throughout Ireland</strong> on all orders of €30 or more.</p>
                <p>As a fully online store, delivery is kind of our thing! We have and extensive network
                    of warehouses throughout the country and we operate our own fleet of delivery vehicles.
                    As the vast majority of our customers use us for the big weekly shop delivery charges
                    rarely arise.... Despite our incredible value you will likely spend the minimun of €30!
                    For deliveries less of than €30 a €10 delivery fee applies.
                </p>
            </div>
        </div>
</main>
{% endblock %}