@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

.text35 {
    font-size: 35px;
}

.width100 {
    width: 100px;
}

.width200 {
    width: 200px;
}

.sm-input {
    width: 70px;
}

body {
    margin-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hero {
    position: relative;
    height: 30vw;
    background: url('/media/pexels-sora-shimazaki-5926217-lscape.webp') no-repeat center center;
}

.business {
    height: 30vw;
    background-color: #ff0000;
    color: #ffff00;
}

h1,
h3,
h4,
h6,
label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6vw;
}

h3 {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    font-size: 40px;
    margin-bottom: 30px;
}

h6 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tagline {
    position: absolute;
    bottom: 6vw;
    left: 8vw;
    background-color: #f5f5f5;
    width: 50vw;
    border-radius: 10px;
    padding: 5px;
    transform: rotate(350deg);
}

.tagline h2 {
    font-size: 3vw;
}

.banner {
    background-color: #212529;
    color: #f5f5f5;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 0.8;
    padding-top: 10px;
    padding-bottom: 3px;
}

.product-cards {
    width: 260px;
}

.price {
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.btn-sm {
    padding: 1px;
}

form {
    padding: 5px;
    width: 70%;
}

form p {
    margin: 5px;
}

form input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 100%;
}

form input:hover {
    border: 1px solid #32cf2d;
}

form input[type=checkbox] {
    height: 20px;
    width: 20px;
}

form select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 100%;
}

form select:hover {
    border: 1px solid #32cf2d;
}

form textarea {
    border-radius: 5px;
    border: 1px solid #000000;
    width: 100%;
}

form textarea:hover {
    border: 1px solid #32cf2d;
}

.cart-quantity {
    width: 40%;
    height: 30px;
}

.cart-quantity-form {
    width: 100%;
}

.cart-quantity-submit {
    height: 30px;
    width: 100px;
    padding: 2px 0px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.simple-form label {
    display: block;
}

footer {
    background-color: #e4eef7;
    border-top: 1px solid #212529;
}


footer ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

footer li {
    display: inline-block;
    font-size: 18px;
    margin: 2px;
}

footer a {
    color: #212529;
}

.socials {
    color: #212529;
}

/* Mailchimp */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    max-width: 600px;
}

/* For Screens 767px wide and down */
@media screen and (max-width: 767px) {
    .hero {
        display: none;
    }

    .socials {
        display: none;
    }

    .small-tagline {
        background-color: #f5f5f5;
        width: 50vw;
        border-radius: 10px;
        padding: 2px;
    }

    .small-tagline h2 {
        font-size: 3vw;
        color: #212529;
    }

    .business {
        height: 20vw;
    }

    footer ul {
        align-items: start;
        flex-direction: row;
    }

    .padding-left-small-0 {
        padding-left: 0;
    }

    #mc_embed_signup {
        margin: 2px;
    }

    #mc_embed_signup form {
        margin: 5px;
    }
}

/* For Screens 768px wide and up */
@media screen and (min-width: 768px) {
    .business .small-tagline {
        display: none;
    }
}

/* For Screens 400px wide and down */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 24px;
    }

    .business {
        height: 80px;
    }

    .small-tagline {
        width: 200px;
    }

    .small-tagline h2 {
        font-size: 12px;
    }

    .banner {
        font-size: 12px;
    }
}