@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

.text35 {
    font-size: 35px;
}

.width35 {
    width: 35px;
}

.sm-input {
    width: 70px;
}

body {
    margin-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hero {
    position: relative;
    height: 30vw;
    background: url('/media/pexels-sora-shimazaki-5926217-lscape.webp') no-repeat center center;
}

.business {
    height: 30vw;
    background-color: red;
    color: yellow;
}

h1,
h3,
h4,
label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6vw;
}

h3 {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    font-size: 40px;
    margin-bottom: 30px;
}

.tagline {
    position: absolute;
    bottom: 6vw;
    left: 8vw;
    background-color: whitesmoke;
    width: 50vw;
    border-radius: 10px;
    padding: 5px;
    rotate: 350deg;
}

.tagline h2 {
    font-size: 3vw;
}

.banner {
    background-color: #212529;
    color: whitesmoke;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 0.8;
    padding-top: 10px;
    padding-bottom: 3px;
}

.product-cards {
    width: 260px;
}

.price {
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

/* For Screens 768px wide and down */
@media screen and (max-width: 768px) {
    .hero {
        display: none;
    }

    .small-tagline {
        background-color: whitesmoke;
        width: 50vw;
        border-radius: 10px;
        padding: 2px;
    }
    
    .small-tagline h2 {
        font-size: 3vw;
        color: #212529;
    }

    .business {
        height: 20vw;
    }
}

/* For Screens 768px wide and up */
@media screen and (min-width: 768px) {
    .business .small-tagline {
        display: none;
    }
}