{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Edit Comment
{% endblock %}

{% block content %}

<form action="{% url 'edit_product_comment_rating' comment_rating_entry.product.id %}" method="POST">
    {% csrf_token %}
    <label for="edit_comment">Edit your comment on {{comment_rating_entry.product.name}}:</label>
    <textarea id="edit_comment" name="comment" rows="10" cols="50" required>{{comment_rating_entry.comment}}</textarea>
    <label for="id_rating_{{ product.id }}">Rate this Product:</label>
    <select name="user_rating" id="id_rating_{{ product.id }}">
        <option value="0">Please choose one!</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" class="btn btn-secondary" value="Update Comment">
    <input type="hidden" name="redirect_url" value="{{redirect_url}}">
</form>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'comments_ratings/js/ratingSelect.js' %}"
    data-user-rating="{% if comment_rating_entry.user_rating %}{{comment_rating_entry.user_rating}}{% else %}0{% endif %}"></script>
{% endblock %}