{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/4e8d2c2bb0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>BBS -{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9 m-0 p-0">
                    <div class="navbar navbar-expand-sm navbar-light bg-light">
                        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand ml-2 mr-5" href="{% url 'home' %}">BBS</a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item mx-md-3 mx-lg-4">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item mx-md-3 mx-lg-4">
                                    <a class="nav-link" href="{% url 'products' %}">Shopping</a>
                                </li>
                                <li class="nav-item mx-md-3 mx-lg-4">
                                    <a class="nav-link" href="#">Register</a>
                                </li>
                                <li class="nav-item mx-md-3 mx-lg-4">
                                    <a class="nav-link" href="#">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3 m-0 p-0 bg-light">
                    <a class="nav-link text-secondary p-0" href="{% url 'view_cart' %}">
                        <div class="text-center">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="my-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 business text-center d-flex flex-column justify-content-center">
                    <h1>BIG BORING SHOP</h1>
                    <div class="small-tagline mx-auto">
                        <h2>Your Weekly Shopping <strong>Delivered!</strong></h2>
                    </div>
                </div>
                <div class="col-9 hero">
                    <div class="tagline">
                        <h2>Your Weekly Shopping <strong>Delivered!</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>