{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Selected Product
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col d-flex justify-content-center">
                <div class="w-75 d-flex flex-column align-items-center text-center">
                    <h4>{{ product.name }}</h4>
                    <p class="my-0">{{ product.description }}</p>
                    <p class="price">€{{ product.price }}</p>
                    <p>Category: {{ product.category.friendly_name}}</p>
                    <p>SKU: {{ product.sku}}</p>
                    <form class="form d-flex flex-column align-items-center" action="{% url 'add_to_cart' product.id %}"
                        method="POST">
                        {% csrf_token %}
                        <label class="m-0" for="id_qty_{{ product.id }}">Quantity to Add:</label>
                        <input class="form-control w-50 m-2" type="number" name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <input type="submit" class="btn btn-secondary" value="Add to Cart">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <a class="btn btn-secondary m-3" href="{% url 'products' %}" role="button">Back</a>
                    {% if product.rating %}
                    <p>Product Rating of {{ product.rating }}/5 based on {{ product.num_of_raters }} reviews</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    {% if on_favourites %}
                    <i class="fa-solid fa-heart"></i>
                    {% endif %}
                    <small class="ml-3">
                        {% if on_favourites %}
                        <a class="text-danger"
                            href="{% url 'delete_favourite' product.id %}?redirect_url={{ request.path }}">Delete from
                            Favourites</a>
                        {% else %}
                        <a href="{% url 'add_favourite' product.id %}">Add to Favourites</a>
                        {% endif %}
                    </small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <!-- Trigger modal -->
                        <a id="delete-product-link" class="text-danger" href="#" data-toggle="modal"
                            data-target="#deleteModal"
                            data-delete-href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        <h6 class="text-center">Comments and Ratings</h6>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                {% if user.is_authenticated %}
                {% if current_user_comment_rating %}
                <p class="text-center">Your comment/rating for this product appears in the comment list hereunder!</p>
                {% else %}
                <form action="{% url 'comment_rate_product' product.id %}" method="POST">
                    {% csrf_token %}
                    <label for="id_add_comment_{{ product.id }}">Add a comment about this Product:</label>
                    <textarea class="my-3" id="id_add_comment_{{ product.id }}" name="comment" rows="10" cols="50"
                        required></textarea>
                    <label for="id_rating_{{ product.id }}">Rate this Product:</label>
                    <select name="user_rating" id="id_rating_{{ product.id }}">
                        <option value="0">Please choose one!</option>
                        <option value="1">1/5</option>
                        <option value="2">2/5</option>
                        <option value="3">3/5</option>
                        <option value="4">4/5</option>
                        <option value="5">5/5</option>
                    </select>
                    <input type="submit" class="btn btn-secondary my-3" value="Comment">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                {% endif %}
                {% endif %}
            </div>
            <div class="col d-flex justify-content-center text-center">
                <div class="all-comments border">
                    {% if all_comments_ratings %}
                    {% for comment in all_comments_ratings %}
                    {% if user.is_authenticated and user == comment.user %}
                    <p class="bold">You made the following comment on this product:</p>
                    {% if comment.date_updated %}
                    <p>Comment updated on {{ comment.date_updated}}</p>
                    {% else %}
                    <p>Comment created on {{comment.date_created}}</p>
                    {% endif %}
                    <p>{{comment.comment}}</p>
                    {% if comment.user_rating %}
                    <p>You gave this product a rating of {{ comment.user_rating }}/5</p>
                    {% else %}
                    Rating: No Rating!
                    {% endif %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product_comment_rating' product.id %}?redirect_url={{ request.path }}">Edit
                            this
                            Comment/Rating</a>
                    </small>
                    <small class="ml-3">
                        <!-- Trigger modal -->
                        <a id="delete-comment-link" class="text-danger" href="#" data-toggle="modal"
                            data-target="#deleteCommentModal">Delete this Comment</a>
                    </small>
                    {% else %}
                    {% if comment.date_updated %}
                    <p>{{comment.user.username}} updated this comment on {{ comment.date_updated}}</p>
                    {% else %}
                    <p>{{comment.user.username}} created this comment on {{comment.date_created}}</p>
                    {% endif %}
                    <p>{{comment.comment}}</p>
                    {% if comment.user_rating %}
                    <p>{{comment.user.username}} gave this product a rating of {{ comment.user_rating }}/5</p>
                    {% else %}
                    Rating: No Rating!
                    {% endif %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% if user.is_authenticated %}
                    <p>Noboby has reviewed or commented on this product yet! Why not be the first!</p>
                    {% else %}
                    <p>Noboby has reviewed or commented on this product yet! Why not register for an account above and
                        be the first!</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Admin Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to permanently remove this item from the product database?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="delete-product" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>
<!-- Comment Delete Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to permanently delete your comment and rating?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_product_comment_rating' product.id %}?redirect_url={{ request.path }}"
                    class="btn btn-danger">Delete Comment</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/adminDeleteProduct.js' %}"></script>
{% endblock %}