{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Shop!
{% endblock %}

{% block content %}
<div class="container-fluid py-2 bg-secondary">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <form class="form-inline d-flex justify-content-center">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" type="search" placeholder="Search" aria-label="search">
                </div>
                <button type="submit" class="btn btn-success mb-2 ml-2">Search</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Fresh Products</a>
                    <a class="dropdown-item" href="#">Household</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}