{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Shop!
{% endblock %}

{% block content %}
<div class="container-fluid py-2 bg-secondary">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <form method="GET" action="{% url 'products' %}" class="form-inline d-flex justify-content-center">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="search">
                </div>
                <button type="submit" class="btn btn-success mb-2 ml-2">Search</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'products' %}?category=fresh_food">Fresh Food</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=cupboard_freezer">Cupboard and
                        Freezer</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=drinks">Drinks</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=health_beauty">Health and Beauty</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=household">Household</a>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="d-flex flex-column align-items-center my-3 text35">
        <p>Minimum order for Free Delivery is €{{ free_delivery_threshold }}</p>
        <p>{{ products|length }} Product(s){% if search_term %} found for
            <strong>"{{ search_term }}"</strong>{% endif %}{% if current_category %} in Product Category:
            <strong>"{{ current_category.friendly_name }}"</strong>{% endif %}
        </p>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
        {% for product in products %}
        <div class='d-inline-block m-3'>
            <div class="card product-cards">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">€{{ product.price }}</li>
                    <li class="list-group-item">Product Category:</li>
                    <li class="list-group-item">{{ product.category.friendly_name }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'product_detail' product.id %}" class="card-link">Product Details</a>
                    <a href="#" class="card-link">Add to Cart</a>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <!-- Trigger modal -->
                        <a class="text-danger" href="#" data-toggle="modal"
                            data-target="#deleteModal"
                            data-delete-href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to permanently remove this item from the product database?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="delete-selected-product" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/adminDeleteProduct.js' %}"></script>
{% endblock %}