{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Selected Product
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="/media/noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col d-flex justify-content-center align-items-center text-center">
                <div class="w-75">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                    <p class="price">€{{ product.price }}</p>
                    <p>Category: {{ product.category.friendly_name}}</p>
                    <p>SKU: {{ product.sku}}</p>
                    <form class="form d-flex flex-column align-items-center" action="{% url 'add_to_cart' product.id %}"
                        method="POST">
                        {% csrf_token %}
                        <label class="m-0" for="id_qty_{{ product.id }}">Quantity to Add:</label>
                        <input class="form-control w-50 m-2" type="number" name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <input type="submit" class="btn btn-secondary" value="Add to Cart">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <a class="btn btn-secondary m-3" href="{% url 'products' %}" role="button">Back</a>
                    {% if request.user.is_authenticated %}
                    <small class="ml-3">
                        <a href="{% url 'add_favourite' product.id %}">Add to Favourites</a>
                    </small>
                    <form action="{% url 'rate_product' product.id %}" method="POST">
                        {% csrf_token %}
                        <label for="id_rating_{{ product.id }}">Rate this Product:</label>
                        <select name="user_rating" id="id_rating_{{ product.id }}" required>
                            <option value="">Please choose one!</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="submit" class="btn btn-secondary" value="Add Rating">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}